{% extends 'index_base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/profile/profile.css' %}">
<div class="bg-body-light">
    <div class="content" style="padding: 10px !important;">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">My Profile</h1>
        </div>
    </div>
</div>
<div class="content" style="padding: 10px !important;">
    <div class="row">
        <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0">
            <div class="js-wizard-simple block">
                <div class="row justify-content-center" style="padding:10px;">
                    <br>
                    <div class="picture-container">
                        <div class="picture" id="imgInp">
                            {% if user_info_obj.profile_image %}
                            <img src="{{user_info_obj.profile_image.url}}" class="picture-src" id="wizardPicturePreview" title="">
                            <input type="file" id="wizard-picture" class="" accept="image/x-png,image/gif,image/jpeg" />
                            {% else %}
                            <img src="{% static '/img/theme/defaultprofile.png' %}" class="picture-src" id="wizardPicturePreview" title="">
                            <input type="file" id="wizard-picture" class="" accept="image/x-png,image/gif,image/jpeg" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="container">
                        <br>
                        <div class="text-center">
                            <h3>
                                {{ user_info_obj.first_name }} {{ user_info_obj.last_name }}<span class="font-weight-light"></span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 order-xl-1">
            <div class="js-wizard-simple block">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0"></h3>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs nav-tabs-alt nav-justified">
                    <li class="nav-item"><a href="" data-target="#PersonalInfo" data-toggle="tab" class="nav-link small text-uppercase active" onclick="tab1()">Personal Info</a></li>
                    <li style="margin: 10px 10px 0px 0px;">
                        <button class="btn btn-sm btn-primary" id="submitbutton1" onclick="SubmitDetail1()">Submit
                        </button>
                        <button class="btn btn-sm btn-primary" id="submitbutton2" style="display: none;"
                                onclick="SubmitDetail2()">Submit
                        </button>
                        <button class="btn btn-sm btn-primary" id="submitbutton3" style="display: none;"
                                onclick="SubmitDetail3()">Submit
                        </button>
                    </li>
                </ul>
                <div class="block-content block-content-full tab-content">
                    <div id="PersonalInfo" class="tab-pane active">
                        <h6 class="content-heading">User Information</h6>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">First Name<span
                                            style="color:red">*</span>:</label>
                                    <input type="text" id="first_name" name="first_name"
                                           class="form-control form-control-sm form-control-alternative"
                                           placeholder="First Name"
                                           value="{{ user_info_obj.first_name|default_if_none:'' }}">
                                    <span style="display:none;color:red;font-size: 12px;" id="err_first_name">Please Enter First Name.</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Middle Name<span
                                            style="color:red"></span>:</label>
                                    <input type="text" id="middle_name" name="middle_name"
                                           class="form-control form-control-sm form-control-alternative"
                                           placeholder="Middle Name"
                                           value="{{ user_info_obj.middle_name|default_if_none:'' }}">
                                    <span style="display:none;color:red;font-size: 12px;" id="err_middle_name">Please Enter Middle Name.</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Last Name<span
                                            style="color:red">*</span>:</label>
                                    <input type="text" id="last_name" name="last_name"
                                           class="form-control form-control-sm form-control-alternative"
                                           placeholder="Last Name"
                                           value="{{ user_info_obj.last_name|default_if_none:'' }}">
                                    <span style="display:none;color:red;font-size: 12px;" id="err_last_name">Please Enter Last Name.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Email<span
                                            style="color:red">*</span>:</label>
                                    <input type="text" id="email" name="email"
                                           class="form-control form-control-sm form-control-alternative"
                                           placeholder="Email" value="{{ user_info_obj.email|default_if_none:'' }}"
                                           disabled>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_email">Please Enter Email.</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-last-name">Phone Number<span
                                            style="color:red">*</span>:</label>
                                    <input type="text" id="phone_no" name="phone_no"
                                           class="form-control form-control-sm form-control-alternative"
                                           placeholder="Phone Number"
                                           value="{{ user_info_obj.phone_no|default_if_none:'' }}" maxlength="10"
                                           pattern="\d*"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    <span style="display:none;color:red;font-size: 12px;" id="err_phone_no">Please Enter Phone No.</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-last-name">Phone Number 2<span
                                            style="color:red"></span>:</label>
                                    <input type="text" id="phone_no2" name="phone_no2"
                                           class="form-control form-control-sm form-control-alternative"
                                           placeholder="Phone Number 2"
                                           value="{{ user_info_obj.phone_no2|default_if_none:'' }}" maxlength="10"
                                           pattern="\d*"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    <span style="display:none;color:red;font-size: 12px;" id="err_phone_no2">Please Enter Phone No 2.</span>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0"/>
                        <h6 class="content-heading">Permanent Address</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-address">Address<span
                                            style="color:red">*</span>:</label>
                                    <textarea name="permanent_address" id="permanent_address"
                                              class="form-control form-control-alternative"
                                              placeholder="Permanent Address">{{ address_detail_obj.address|default_if_none:'' }}</textarea>
                                    <span style="display:none;color:red;font-size: 12px;"
                                          id="err_permanentaddress">Please Enter Address</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-city">State<span style="color:red">*</span>:</label>
                                    <select name="permanent_state" class="form-control form-control-sm" id="permanent_state" onchange="get_city_district_permanent('second')" >
                                        <option value="" selected>Select State</option>
                                        {% for i in state_obj %}
                                        {% if address_detail_obj.fk_state.id == i.id %}
                                        <option value="{{i.id}}" selected>{{i.state}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.state}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_permanentstate">Please Enter States</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-state">District<span style="color:red">*</span>:</label>
                                    <select name="permanent_district" class="form-control form-control-sm" id="permanent_district" required>
                                        <option value="" selected>Select District</option>
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_permanentdistrict">Please Enter District</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-state">Tehsil<span
                                            style="color:red">*</span>:</label>
                                    <!--                                        <select name="permanent_tehsil" class="form-control form-control-sm"-->
                                    <!--                                                id="permanent_tehsil">-->
                                    <!--                                            <option value="" selected hidden>Select Tehsil</option>-->
                                    <!--                                            {% for i in tehsil_obj %}-->
                                    <!--                                            {% if address_detail_obj.fk_city.id == i.id %}-->
                                    <!--                                            <option value="{{i.id}}" selected>{{i.tehsil}}</option>-->
                                    <!--                                            {% else %}-->
                                    <!--                                            <option value="{{i.id}}">{{i.tehsil}}</option>-->
                                    <!--                                            {% endif %}-->
                                    <!--                                            {% endfor %}-->
                                    <!--                                        </select>-->
                                    <input type="text" name="permanent_tehsil" class="form-control form-control-sm" id="permanent_tehsil" value="{{address_detail_obj.tehsil}}">
                                    <span style="display:none;color:red;font-size: 12px;" id="err_permanenttehsil">Please Enter Tehsil</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-state">City<span
                                            style="color:red">*</span>:</label>
                                    <select name="permanent_city" class="form-control form-control-sm"
                                            id="permanent_city"
                                            required>
                                        <option value="" selected>Select City</option>
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_permanentcity">Please Enter City</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-state">Pin Code<span style="color:red">*</span>:</label>
                                    <input class="form-control form-control-sm" placeholder="Pin Code" type="text" id="permanent_pincode" value="{{address_detail_obj.pin_code|default_if_none:''}}" maxlength="6" pattern="\d*" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    <span style="display:none;color:red;font-size: 12px;" id="err_permanentpincode">Please Enter Pin code</span>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0"/>
                        <!-- Address -->
                        <h6 class="content-heading">Address for Correspondence</h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-address">Address<span style="color:red">*</span>:</label>
                                    <textarea name="correspondence_address" id="correspondence_address" class="form-control form-control-alternative" placeholder="Correspondence Address">{{ address_detail_obj.correspondence_address|default_if_none:'' }}</textarea>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_correspondenceaddress">Please Enter Address</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-city">State<span style="color:red">*</span>:</label>
                                    <select name="correspondence_state" class="form-control form-control-sm" id="correspondence_state" onchange="get_city_district_correspondence('second')">
                                        <option value="" selected>Select State</option>
                                        {% for i in state_obj %}
                                        {% if address_detail_obj.fk_correspondence_state.id == i.id %}
                                        <option value="{{i.id}}" selected>{{i.state}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.state}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_correspondenceadstate">Please Enter States</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-state">District<span style="color:red">*</span>:</label>
                                    <select name="correspondence_district" class="form-control form-control-sm" id="correspondence_district">
                                        <option value="" selected>Select City</option>
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;"
                                          id="err_correspondencedistrict">Please Enter District</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-state">Tehsil<span
                                            style="color:red">*</span>:</label>
                                    <!--                                        <select name="correspondence_tehsil" class="form-control form-control-sm"-->
                                    <!--                                                id="correspondence_tehsil" required>-->
                                    <!--                                            <option value="" selected hidden>Select City</option>-->
                                    <!--                                            {% for i in tehsil_obj %}-->
                                    <!--                                            {% if address_detail_obj.FK_correpondence_tehsil.id == i.id %}-->
                                    <!--                                            <option value="{{i.id}}" selected>{{i.tehsil}}</option>-->
                                    <!--                                            {% else %}-->
                                    <!--                                            <option value="{{i.id}}">{{i.tehsil}}</option>-->
                                    <!--                                            {% endif %}-->
                                    <!--                                            {% endfor %}-->
                                    <!--                                        </select>-->
                                    <input type="text" name="correspondence_tehsil" class="form-control form-control-sm"
                                           id="correspondence_tehsil" value="{{address_detail_obj.correspondence_tehsil}}">
                                    <span style="display:none;color:red;font-size: 12px;"
                                          id="err_correspondencetehsil">Please Enter Tehsil</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-state">City<span style="color:red">*</span>:</label>
                                    <select name="correspondence_city" class="form-control form-control-sm" id="correspondence_city" required>
                                        <option value="" selected>Select City</option>
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_correspondencecity">Please Enter City</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-state">Pin Code<span
                                            style="color:red">*</span>:</label>
                                    <input class="form-control form-control-sm" type="text"
                                           id="correspondence_pin_code" placeholder="Pin Code"
                                           value="{{address_detail_obj.correspondence_pin_code|default_if_none:''}}"
                                           maxlength="6" pattern="\d*"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    <span style="display:none;color:red;font-size: 12px;"
                                          id="err_correspondencepincode">Please Enter Pin Code</span>
                                </div>
                            </div>
                        </div>

                        <hr class="my-0"/>
                        <!-- Description -->
                        <h6 class="content-heading">General Information</h6>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="Gender">Gender<span
                                            style="color:red">*</span>:</label>
                                    <select class="form-control form-control-sm" id="gender" name="gender" required>
                                        <option value="" selected>Select Gender</option>
                                        {% for i in gender_obj %}
                                        {% if user_info_obj.fk_gender.id == i.id %}
                                        <option value="{{i.id}}" selected>{{i.gender}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.gender}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_gender">Please Enter Gender</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="DoB">Date of Birth<span
                                            style="color:red">*</span>:</label>
                                    <input name="dob_date" id="dob_date"
                                           class="form-control form-control-sm form-control-alternative"
                                           placeholder="DD-MM-YYYY"
                                           value="{{user_info_obj.dob|date:'d-m-Y'}}" required>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_dobdate">Please Select Date of Birth</span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="Mother_Tongue">Adhar No.<span
                                            style="color:red">*</span>:</label>
                                    <input class="form-control form-control-sm form-control-alternative" type="text"
                                           placeholder="Adhar No"
                                           id="aadhar_no" value="{{user_info_obj.aadhar_no|default_if_none:''}}"
                                           maxlength="12" pattern="\d*"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    <span style="display:none;color:red;font-size: 12px;" id="err_adharno">Please Select Adhar No</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="Nationality">Nationality<span
                                            style="color:red">*</span>:</label>
                                    <select class="form-control form-control-sm" id="nationality" name="nationality"
                                            required>
                                        <option value="" selected>Select Nationality</option>
                                        {% for i in nationality_obj %}
                                        {% if user_info_obj.fk_nationality.id == i.id %}
                                        <option value="{{i.id}}" selected>{{i.nationality}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.nationality}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;"
                                          id="err_nationality">Please Select Nationality</span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="Blood_Group">Blood Group<span
                                            style="color:red"></span>:</label>
                                    <select class="form-control form-control-sm" id="blood_group" name="blood_group"
                                            required>
                                        <option value="" selected>Select Blood Group</option>
                                        {% for i in blood_group_obj %}
                                        {% if user_info_obj.fk_blood_group.id == i.id %}
                                        <option value="{{i.id}}" selected>{{i.blood_group}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.blood_group}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span style="display:none;color:red;font-size: 12px;" id="err_blood_group">Please Select Blood Group</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $("#dob_date").datepicker({
        format: 'dd-mm-yyyy',
        endDate: '-18y'
    });
    console.log("permanent")
    console.log('{{address_detail_obj.fk_district.id }}')
    console.log('{{address_detail_obj.fk_city.id}}')
    console.log("correpondence")
    console.log('{{address_detail_obj.fk_correspondence_district.id}}')
    console.log('{{address_detail_obj.fk_correspondence_city.id}}')
    get_city_district_permanent('first');
    get_city_district_correspondence('first');
    $("#wizard-picture").change(function(){
        readURL(this);
    });
});

function readURL1(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#company_logo').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        $("#company_logo_remove_icon").show();
        $("#err_company_logo").hide();
    }
}
$("#company_logo_file").change(function () {
    readURL1(this);
});

function get_city_district_permanent(st) {
    var state = $("#permanent_state").val();
    console.log(state)
    $.ajax({
        method: "POST",
        url: "/GetCitysDistrictList/",
        data: {
            "state_id": state
        },
        success: function (response) {
            console.log(response)
            $("#permanent_city").html("")
            $("#permanent_district").html("")
            if (response['city_list'].length == 0) {
                $("#permanent_city").html("<option value='' selected hidden>Cities Not Found</option>")
            }
            else {
                $("#permanent_city").html("<option value='' selected hidden>Select City</option>")
            }
            for (i = 0; i < response['city_list'].length; i++) {
                cit = document.createElement('option');
                cit.value = response['city_list'][i][0]
                cit.innerHTML = response['city_list'][i][1]
                $("#permanent_city").append(cit)
            }
            if (response['district_list'].length == 0) {
                $("#permanent_district").html("<option value='' selected hidden>District Not Found</option>")
            }
            else {
                $("#permanent_district").html("<option value='' selected hidden>Select District</option>")
            }
            for (i = 0; i < response['district_list'].length; i++) {
                district = document.createElement('option');
                district.value = response['district_list'][i][0]
                district.innerHTML = response['district_list'][i][1]
                $("#permanent_district").append(district)
            }
            if(st == "first"){
                $("#permanent_district").val('{{address_detail_obj.fk_district.id }}');
                $("#permanent_city").val('{{address_detail_obj.fk_city.id}}');
            }
        }
    })
}

function get_city_district_correspondence(st) {
    console.log("vcxvbcxmnbmnb")
    var state = $("#correspondence_state").val();
    console.log(state)
    $.ajax({
        method: "POST",
        url: "/GetCitysDistrictList/",
        data: {
            "state_id": state
        },
        success: function (response) {
            console.log(response)
            $("#correspondence_city").html("")
            $("#correspondence_district").html("")
            if (response['city_list'].length == 0) {
                $("#correspondence_city").html("<option value='' selected hidden>Cities Not Found</option>")
            }
            else {
                $("#correspondence_city").html("<option value='' selected hidden>Select City</option>")
            }
            for (i = 0; i < response['city_list'].length; i++) {
                cit = document.createElement('option');
                cit.value = response['city_list'][i][0]
                cit.innerHTML = response['city_list'][i][1]
                $("#correspondence_city").append(cit)
            }

            if (response['district_list'].length == 0) {
                $("#correspondence_district").html("<option value='' selected hidden>District Not Found</option>")
            }
            else {
                $("#correspondence_district").html("<option value='' selected hidden>Select District</option>")
            }
            for (i = 0; i < response['district_list'].length; i++) {
                district = document.createElement('option');
                district.value = response['district_list'][i][0]
                district.innerHTML = response['district_list'][i][1]
                $("#correspondence_district").append(district)
            }
            if(st == "first"){
                $("#correspondence_district").val('{{address_detail_obj.fk_correspondence_district.id }}');
                $("#correspondence_city").val('{{address_detail_obj.fk_correspondence_city.id}}');
            }
        }
    })
}

$("#first_name").keyup(function () {
    $("#err_first_name").hide();
});$("#last_name").keyup(function () {
    $("#err_last_name").hide();
});$("#phone_no").keyup(function () {
    $("#err_phone_no").hide();
});$("#permanent_address").keyup(function () {
    $("#err_permanentaddress").hide();
});$("#permanent_state").change(function () {
    $("#err_permanentstate").hide();
});$("#permanent_district").change(function () {
    $("#err_permanentdistrict").hide();
});$("#permanent_tehsil").keyup(function () {
    $("#err_permanenttehsil").hide();
});$("#permanent_city").change(function () {
    $("#err_permanentcity").hide();
});$("#permanent_pincode").keyup(function () {
    $("#err_permanentpincode").hide();
});$("#correspondence_address").keyup(function () {
    $("#err_correspondenceaddress").hide();
});$("#correspondence_state").change(function () {
    $("#err_correspondenceadstate").hide();
});$("#correspondence_district").change(function () {
    $("#err_correspondencedistrict").hide();
});$("#correspondence_tehsil").keyup(function () {
    $("#err_correspondencetehsil").hide();
});$("#correspondence_city").change(function () {
    $("#err_correspondencecity").hide();
});$("#correspondence_pin_code").keyup(function () {
    $("#err_correspondencepincode").hide();
});$("#gender").change(function () {
    $("#err_gender").hide();
});$("#dob_date").change(function () {
    $("#err_dobdate").hide();
});$("#aadhar_no").keyup(function () {
    $("#err_adharno").hide();
});$("#nationality").change(function () {
    $("#err_nationality").hide();
});$("#blood_group").change(function () {
    $("#err_blood_group").hide();
});


function SubmitDetail1() {
    var first_name = $("#first_name").val();
    var middle_name = $("#middle_name").val();
    var last_name = $("#last_name").val();
    var phone_no = $("#phone_no").val();
    var phone_no2 = $("#phone_no2").val();
    var correspondence_address = $("#correspondence_address").val();
    var correspondence_state = $("#correspondence_state").val();
    var correspondence_district = $("#correspondence_district").val();
    var correspondence_tehsil = $("#correspondence_tehsil").val();
    var correspondence_city = $("#correspondence_city").val();
    var correspondence_pin_code = $("#correspondence_pin_code").val();
    var permanent_address = $("#permanent_address").val();
    var permanent_state = $("#permanent_state").val();
    var permanent_district = $("#permanent_district").val();
    var permanent_tehsil = $("#permanent_tehsil").val();
    var permanent_city = $("#permanent_city").val();
    var permanent_pincode = $("#permanent_pincode").val();
    var gender = $("#gender").val();
    var dob_date = $("#dob_date").val();
    var aadhar_no = $("#aadhar_no").val();
    var nationality = $("#nationality").val();
    var blood_group = $("#blood_group").val();
    if (first_name == "") {
        $("#err_first_name").show();
    } else if (last_name == "") {
        $("#err_last_name").show();
    } else if (phone_no == "") {
        $("#err_phone_no").show();
    } else if (permanent_address == "") {
        $("#err_permanentaddress").show();
    } else if (permanent_state == "") {
        $("#err_permanentstate").show();
    } else if (permanent_district == "") {
        $("#err_permanentdistrict").show();
    } else if (permanent_tehsil == "") {
        $("#err_permanenttehsil").show();
    } else if (permanent_city == "") {
        $("#err_permanentcity").show();
    } else if (permanent_pincode == "") {
        $("#err_permanentpincode").show();
    } else if (correspondence_address == "") {
        $("#err_correspondenceaddress").show();
    } else if (correspondence_state == "") {
        $("#err_correspondenceadstate").show();
    } else if (correspondence_district == "") {
        $("#err_correspondencedistrict").show();
    } else if (correspondence_tehsil == "") {
        $("#err_correspondencetehsil").show();
    } else if (correspondence_city == "") {
        $("#err_correspondencecity").show();
    } else if (correspondence_pin_code == "") {
        $("#err_correspondencepincode").show();
    } else if (gender == "") {
        $("#err_gender").show();
    } else if (dob_date == "") {
        $("#err_dobdate").show();
    } else if (aadhar_no == "") {
        $("#err_adharno").show();
    } else if (nationality == "") {
        $("#err_nationality").show();
    }
    else {
        $.ajax({
            url: "/SavePersonalInfo/",
            method: "POST",
            data: {
                "first_name": first_name,
                "middle_name": middle_name,
                "last_name": last_name,
                "phone_no": phone_no,
                "phone_no2": phone_no2,
                "permanent_address": permanent_address,
                "permanent_state": permanent_state,
                "permanent_district": permanent_district,
                "permanent_tehsil": permanent_tehsil,
                "permanent_city": permanent_city,
                "permanent_pincode": permanent_pincode,
                "correspondence_address": correspondence_address,
                "correspondence_state": correspondence_state,
                "correspondence_district": correspondence_district,
                "correspondence_tehsil": correspondence_tehsil,
                "correspondence_city": correspondence_city,
                "correspondence_pin_code": correspondence_pin_code,
                "gender": gender,
                "dob_date": dob_date,
                "aadhar_no": aadhar_no,
                "nationality": nationality,
                "blood_group": blood_group,
            },
            success: function (response) {
                if (response == "success") {
                    swal("Profile Detail Updated Successfully!", {
                        icon: "success",
                        button: "Ok",
                        closeOnClickOutside: false,
                    }).then(function () {
                        location.reload();
                    });
                }
            }
        })
    }
}
var srcData
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
            reader.onload = function(e) {
            $('#wizardPicturePreview').attr('src', e.target.result);
            srcData = e.target.result;
            console.log(srcData)
            $.ajax({
            url : "/UpdateProfilePicture/",
            method : "POST",
            data:{
                "base64string" : srcData,
                },
                success : function(response){
                    swal("Profile Photo Updated Successfully!", {
                        icon: "success",
                        button: "Ok",
                        closeOnClickOutside: false,
                    }).then(function () {
                        location.reload();
                    });
                }
            });
    }
    reader.readAsDataURL(input.files[0]);
    }
}
</script>
{% endblock content %}
