{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tripude Institute of Management Education</title>
    <link rel="shortcut icon" href="{% static 'media/favicons/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/media/favicons/favicon-192x192.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicons/apple-touch-icon-180x180.png' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/datatables/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/datatables/buttons-bs4/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/flatpickr/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/summernote/summernote-bs4.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/simplemde/simplemde.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-select.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" id="css-main" href="{% static 'css/oneui.min.css' %}">
    <script src="{% static '/js/plugins/jquery/dist/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/indexbase/index_base.css' %}">
</head>
<body>
    <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header-fixed page-header-dark">
        <aside id="side-overlay" class="font-size-sm">
            <div class="content-header border-bottom">
                <a class="img-link mr-1" href="javascript:void(0)">
                    <img class="img-avatar img-avatar32" src="{% static 'media/avatars/avatar10.jpg' %}" alt="">
                </a>
                <div class="ml-2">
                    <a class="link-fx text-dark font-w600" href="javascript:void(0)">tirpudefaculty@xyz.com</a>
                </div>
                <a class="ml-auto btn btn-sm btn-dual" href="javascript:void(0)" data-toggle="layout"
                    data-action="side_overlay_close">
                    <i class="fa fa-fw fa-times text-danger"></i>
                </a>
            </div>
        </aside>
        <nav id="sidebar" aria-label="Main Navigation">
            <div class="content-header bg-white-5">
                <img src="{% static "img/logo/tirpude-connect.png" %}" alt="Logo" style="width: 100px; height:50px;">
                <div>
                    <a class="d-lg-none text-dual ml-3" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="content-side content-side-full">
            </div>
        </nav>
        <header id="page-header">
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-sm btn-dual mr-2 d-lg-none" data-toggle="layout"
                        data-action="sidebar_toggle">
                        <i class="fa fa-fw fa-bars" style="color: black;"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-dual mr-2 d-none d-lg-inline-block" data-toggle="layout"
                        data-action="sidebar_mini_toggle">
                        <i class="fa fa-fw fa-ellipsis-v nu-black"></i>
                    </button>
                </div>
                <div class="d-flex align-items-center">
                    <div class="dropdown d-inline-block ml-2">
                        <button type="button" class="btn btn-sm btn-dual" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user_info_obj.profile_image %}
                            <img class="rounded" src="{{user_info_obj.profile_image.url}}" alt="Header Avatar"
                                style="width: 18px;">
                            {% else %}
                            <img class="rounded" src="{% static 'media/avatars/avatar10.jpg' %}"
                                alt="Header Avatar" style="width: 18px;">
                            {% endif %}
                            <span class="d-none d-sm-inline-block ml-1 nu-black">{{user_info_obj.email}}</span>
                            <i class="fa fa-fw fa-angle-down d-none d-sm-inline-block nu-black"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right p-0 border-0 font-size-sm"
                            aria-labelledby="page-header-user-dropdown">
                            <div class="p-3 text-center bg-primary">
                                {% if user_info_obj.profile_image %}
                                <img class="img-avatar img-avatar48 img-avatar-thumb"
                                    src="{{user_info_obj.profile_image.url}}" alt="">
                                {% else %}
                                <img class="img-avatar img-avatar48 img-avatar-thumb"
                                    src="{% static 'media/avatars/avatar10.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="p-2">
                                <h5 class="dropdown-header text-uppercase">User Options</h5>
                                <a class="dropdown-item d-flex align-items-center justify-content-between"
                                    href="{% url 'Profile_user' %}">
                                    <span>My profile</span>
                                    <i class="si si-user ml-1"></i>
                                </a>
                                <a href="#" class="dropdown-item d-flex align-items-center justify-content-between"
                                    data-toggle="modal" data-target="#ChangePassword_Modal">
                                    <span>Change Password</span>
                                    <i class="si si-settings"></i>
                                </a>
                                <div role="separator" class="dropdown-divider"></div>
                                <h5 class="dropdown-header text-uppercase">Actions</h5>
                                <a class="dropdown-item d-flex align-items-center justify-content-between"
                                    href="{% url 'Signout_user' %}">
                                    <span>Log Out</span>
                                    <i class="si si-logout ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-header-search" class="overlay-header bg-white">
                <div class="content-header">
                    <form class="w-100" action="be_pages_generic_search.html" method="POST">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-danger" data-toggle="layout"
                                    data-action="header_search_off">
                                    <i class="fa fa-fw fa-times-circle"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                        </div>
                    </form>
                </div>
            </div>
            <div id="page-header-loader" class="overlay-header bg-white">
                <div class="content-header">
                    <div class="w-100 text-center">
                        <i class="fa fa-fw fa-circle-notch fa-spin"></i>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal fade" id="ChangePassword_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            data-backdrop="static" data-keyboard="false" style="text-align: justify;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Password</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    </div>
                    <div class="modal-body">
                        <span style="display:none;color:red;font-size: 12px;" id="err_password_valid">Password must 8 to
                            15 characters which contain at least one lowercase letter, one uppercase letter, one numeric
                            digit, and one special character</span>
                        <span style="color: red;display: none;" id="err_something_want_wrong">Something Want
                            Wrong</span>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Old Password<span
                                    style="color:red">*</span>:</label>
                            <input type="password" id="old_password" name="old_password"
                                class="form-control form-control-sm form-control-alternative"
                                placeholder="Old Password">
                            <span style="color: red;display: none;" id="err_old_password">Please Enter Old
                                Password</span>
                            <span style="color: red;display: none;" id="err_old_password_wrong">Old Password Not
                                Match</span>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">New Password<span
                                    style="color:red">*</span>:</label>
                            <input type="password" id="new_password" name="new_password"
                                class="form-control form-control-sm form-control-alternative"
                                placeholder="New Password">
                            <span style="color: red;display: none;" id="err_new_password">Please Enter New
                                Password</span>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Confirm Password<span
                                    style="color:red">*</span>:</label>
                            <input type="password" id="confirm_password" name="confirm_password"
                                class="form-control form-control-sm form-control-alternative"
                                placeholder="Confirm Password">
                            <span style="color: red;display: none;" id="err_confirm_password">Please Enter Confirm
                                Password</span>
                            <span style="color: red;display: none;" id="err_password_not_match">Confirm Password Not
                                Match</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <buttton class="btn btn-sm btn-success nu-button-size" id="UpdateLecture_Button" onclick="change_password()">Submit</buttton>
                    </div>
                </div>
            </div>
        </div>
        <main id="main-container">
            {% block content %}

            {% endblock %}
        </main>
        <footer id="page-footer" class="bg-body-light">
            <div class="content py-3">
                <div class="row font-size-sm">
                     <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-right">
                     </div>
                    <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-right">
                        <a class="font-w600 text-muted" href="https://sabertoothtech.in" target="_blank">Sabertooth Technology</a>
                        &copy; <span data-toggle="year-copy">2018</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/oneui.core.min.js' %}"></script>
    <script src="{% static '/js/sweetalert/sweetalert.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{% static 'js/oneui.app.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/buttons/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/buttons/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/buttons/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/buttons/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables/buttons/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap-datetimepicker/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/plugins/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'js/plugins/summernote/summernote-bs4.min.js' %}"></script>
    <script src="{% static 'js/plugins/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/plugins/simplemde/simplemde.min.js' %}"></script>
    <script src="{% static 'js/pages/printThis.js' %}"></script>
    <script src="{% static '/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/pages/be_tables_datatables.min.js' %}"></script>
    <script>jQuery(function () { One.helpers(['datepicker','datetimepicker', 'colorpicker', 'maxlength', 'select2', 'rangeslider']); });</script>
    <script>jQuery(function () { One.helpers(['table-tools-checkable', 'table-tools-sections']); });</script>
    <script type="text/javascript">
        $('.nav-main').on('click', 'li:has(a[href^="/Attendance/"])', function (e) {
            $('.nav li').removeClass('active');
            $(this).addClass('active');
        });
        $(function () {
            $("#datepicker").datepicker({ autoclose: true, format: 'yyyy-mm-dd' });
        });
        $("#old_password").keyup(function () {
            $("#err_old_password").hide();
            $("#err_old_password_wrong").hide();
            $("#err_something_want_wrong").hide();
            $("#err_password_valid").hide();
        });
        $("#new_password").keyup(function () {
            $("#err_new_password").hide();
            $("#err_password_not_match").hide();
            $("#err_something_want_wrong").hide();
            $("#err_password_valid").hide();
        });
        $("#confirm_password").keyup(function () {
            $("#err_confirm_password").hide();
            $("#err_password_not_match").hide();
            $("#err_something_want_wrong").hide();
            $("#err_password_valid").hide();
        });
        function change_password() {
            var passwordfilter = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/
            var old_password = $("#old_password").val();
            var new_password = $("#new_password").val();
            var confirm_password = $("#confirm_password").val();
            if (old_password == "") {
                $("#err_old_password").show();
            }
            else if (new_password == "") {
                $("#err_new_password").show();
            }
            else if (!passwordfilter.test(new_password)) {
                $("#err_password_valid").show();
            }
            else if (confirm_password == "") {
                $("#err_confirm_password").show();
            }
            else if (new_password != confirm_password) {
                $("#err_password_not_match").show();
            }
            else {
                $.ajax({
                    url: "/ChangePassword/",
                    method: "POST",
                    data: {
                        "old_password": old_password,
                        "new_password": new_password
                    },
                    success: function (response) {
                        console.log(response)
                        if (response['status'] == "0") {
                            if (response['msg'] == "Old Password is Wrong") {
                                $("#err_old_password_wrong").show();
                            }
                            else {
                                $("#err_something_want_wrong").show();
                            }
                        }
                        else {
                            swal({
                                title: "Password Change Successfully",
                                icon: "success",
                                button: "Ok",
                                closeOnClickOutside: false,
                            }).then(function () {
                                location.reload();
                            });
                        }
                    }
                })
            }
        }
    </script>
</body>

</html>