{% extends 'index_base.html' %}
{% block content %}
{% load static %}
{#{% for u in  user_operation_obj %}#}
{#{% if u.fk_screen.screen_url == "Districts" %}#}
{#{% if u.view_data == "Y" %}#}
<div class="bg-body-light">
    <div class="content" style="padding: 10px !important;">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">Districts</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
{#                {% for u in  user_operation_obj %}#}
{#                    {% if u.fk_screen.screen_url == "Districts" %}#}
{#                        {% if u.save_data == "Y" %}#}
                            <button class="btn btn-primary btn-sm submit-btn" onclick="ShowAddCourse_Div()" id="ShowAddCourse_Button">Add District</button>
{#                        {% endif %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
                <button class="btn btn-primary btn-sm submit-btn" onclick="ShowAllCourse_Div()" id="ShowAllCourse_Button" style="display: none;">All District</button>
                <button class="btn btn-success btn-sm" onclick="adddistrict()" id="addcourse_button" style="display:none;">Save</button>
                <button class="btn btn-success btn-sm" onclick="updatedistrict()" id="updatecourse_button" style="display:none;">Update</button>
            </nav>
        </div>
    </div>
</div>
<div class="content" style="padding: 10px !important;">
    <div class="block">
        <div class="block-content block-content-full">
            <div id="ShowAddCourse_Div" style="display: none;">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="form-group clearfix">
                            <label class="form-control-label text-right">State<span class="text-danger">*</span>:</label>
                            <select name="state" class="form-control form-control-sm form-control-alternative" id="state" required>
                                <option value="" selected hidden>Select State</option>
                                {% for i in state_obj %}
                                <option value="{{i.id}}">{{i.state}}</option>
                                {% endfor %}
                            </select>
                            <span style="display:none;color:red;font-size:12px;" id="err_state">Please Enter State</span>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label text-right">District<span class="text-danger">*</span>:</label>
                            <input type="text" class="form-control form-control-sm form-control-alternative" id="district" name="district" required>
                            <span style="display:none;color:red;font-size: 12px;" id="err_district">Please Enter District</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                    </div>
                </div>
            </div>
            <div id="ShowUpdateCourse_Div" style="display: none;">
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                            <input type="hidden" id="districtid" name="districtid">
                            <div class="form-group clearfix">
                                <label class="form-control-label text-right">State<span class="text-danger">*</span>:</label>
                                <select name="editstate" class="form-control form-control-sm form-control-alternative" id="editstate" required>
                                    <option value="" selected hidden>Select State</option>
                                    {% for i in state_obj %}
                                    <option value="{{i.id}}">{{i.state}}</option>
                                    {% endfor %}
                                </select>
                                <span style="display:none;color:red;font-size:12px;" id="err_editstate">Please Enter State</span>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-right">District<span class="text-danger">*</span>:</label>
                                <input type="text" class="form-control form-control-sm form-control-alternative" id="editdistrict" name="editdistrict" required>
                                <span style="display:none;color:red;font-size: 12px;" id="err_editdistrict">Please Enter District</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" id="ShowAllCourse_Div">
                <table class="table table-vcenter" id="mydatatable">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center" style="width: 10% !important;">Sr No.</th>
                            <th>State</th>
                            <th>District</th>
{#                            {% for u in  user_operation_obj %}#}
{#                                {% if u.fk_screen.screen_url == "Districts" %}#}
{#                                    {% if u.edit_data == "Y" or u.delete_data == "Y" %}#}
                                        <th class="text-center" style="width: 10% !important;">Actions</th>
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in district_obj %}
                        <tr>
                            <td class="text-center font-size-sm">{{forloop.counter}}</td>
                            <td class="font-w600 font-size-sm">{{ i.fk_state.state }}</td>
                            <td class="font-w600 font-size-sm">{{ i.district }}</td>
{#                            {% for u in  user_operation_obj %}#}
{#                                {% if u.fk_screen.screen_url == "Districts" %}#}
{#                                    {% if u.edit_data == "Y" or u.delete_data == "Y" %}#}
                                        <td class="text-center">
                                            <div class="btn-group">
{#                                                {% if u.edit_data == "Y" %}#}
                                                    <button type="button" class="btn btn-sm btn-outline-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit Client" onclick="edit_district({{i.id}})">
                                                        <i class="fa fa-fw fa-pencil-alt"></i>
                                                    </button>
{#                                                {% endif %}#}
{#                                                {% if u.delete_data == "Y" %}#}
                                                    <button type="button" class="btn btn-sm btn-outline-danger js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Remove Client" onclick="delete_district({{i.id}})">
                                                        <i class="fa fa-fw fa-times"></i>
                                                    </button>
{#                                                {% endif %}#}
                                            </div>
                                        </td>
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
		$('#MastersMainNavPage').addClass('open');
		$('#DistrictsNavPAge').addClass('active');
        $('#mydatatable').DataTable();
        $("#AssignmentModal").on("hidden.bs.modal", function () {
            location.reload();
        });
    });
    function delete_district(id){
    console.log(id)
    swal({
        title: "Are you sure?",
        text: "To delete this District!",
        icon: "warning",
        buttons: true,
        dangerMode: true,})
        .then((willDelete) => {
        if(willDelete) {
            $.ajax({
                url: "/delete-district/",
                method: "POST",
                data: {
                    "id": id
                },
                success: function (response) {
                    if (response == "success") {
                        swal("The District has been successfully Deleted!", {
                            icon: "success",
                            button: "Ok",
                            closeOnClickOutside: false,
                        }).then(function () {
                            location.reload();
                        });
                    }
                }
            })
        }
        else {
            swal("District is NOT deleted!");
        }
    });
    }
    function ShowAddCourse_Div(){
        $("#ShowAddCourse_Div").show();
        $("#ShowAllCourse_Div").hide();
        $("#ShowAddCourse_Button").hide();
        $("#ShowAllCourse_Button").show();
        $("#addcourse_button").show();
        $("#updatecourse_button").hide();
    }

    function ShowAllCourse_Div(){
        $("#ShowAddCourse_Div").hide();
        $("#ShowAllCourse_Div").show();
        $("#ShowAddCourse_Button").show();
        $("#ShowAllCourse_Button").hide();
        $("#ShowUpdateCourse_Div").hide();
        $("#addcourse_button").hide();
        $("#updatecourse_button").hide();
    }

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });


    function edit_district(id){
        $("#ShowUpdateCourse_Div").show();
        $("#ShowAllCourse_Div").hide();
        $("#ShowAddCourse_Button").hide();
        $("#ShowAllCourse_Button").show();
        $("#addcourse_button").hide();
        $("#updatecourse_button").show();
        $.ajax({
             url: "/edit-district/",
             method: "POST",
             data: {
                 "id": id
             },
             success: function (response) {
                 console.log(response)
                 $("#districtid").val(response['list'][0]['id'])
                 $("#editstate").val(response['list'][0]['fk_state'])
                 $("#editdistrict").val(response['list'][0]['district'])
             }
         })
    }
    $("#state").change(function () {
        $("#err_state").hide();
    });
    $("#district").keyup(function () {
        $("#err_district").hide();
    });
    function adddistrict(){
        var state = $("#state").val();
        var district = $("#district").val();
        if(state == ""){
            $("#err_state").show();
        }else if(district == ""){
            $("#err_district").show();
        }else{
            $.ajax({
            url: "/add-district/",
            method: "POST",
            data: {
                "master_state":state,
                "master_district":district
            },
            success: function(response){
                console.log(response)
                if (response == "success") {
                    swal("The District has been Added successfully!", {
                        icon: "success",
                        button: "Ok",
                        closeOnClickOutside: false,
                    }).then(function () {
                        location.reload();
                    });
                }
            }
            })
        }
    }
    $("#editstate").change(function () {
        $("#err_editstate").hide();
    });
    $("#editdistrict").keyup(function () {
        $("#err_editdistrict").hide();
    });
    function updatedistrict(){
        var districtid = $("#districtid").val();
        var editstate = $("#editstate").val();
        var editdistrict = $("#editdistrict").val();
        if(editstate == ""){
            $("#err_editstate").show();
        }else if(editdistrict == ""){
            $("#err_editdistrict").show();
        }else{
            $.ajax({
            url: "/update-district/",
            method: "POST",
            data: {
                "district_id":districtid,
                "master_edit_state":editstate,
                "master_edit_district":editdistrict,
            },
            success: function(response){
                console.log(response)
                if (response == "success") {
                    swal("The District has been Updated successfully!", {
                        icon: "success",
                        button: "Ok",
                        closeOnClickOutside: false,
                    }).then(function () {
                        location.reload();
                    });
                }
            }
            })
        }
    }
</script>
{#{% endif %}#}
{#{% endif %}#}
{#{% endfor %}#}
{% endblock content %}
