{% extends 'index_base.html' %}
{% block content %}
{% load static %}
<div class="bg-body-light">
    <div class="content" style="padding: 10px !important;">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">Job Types</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <button class="btn btn-primary btn-sm submit-btn" onclick="ShowAddCourse_Div()" id="ShowAddCourse_Button">Add Job Type</button>
                <button class="btn btn-primary btn-sm submit-btn" onclick="ShowAllCourse_Div()" id="ShowAllCourse_Button" style="display: none;">All Job Types</button>
                <button class="btn btn-success btn-sm" onclick="addjobtype()" id="addcourse_button" style="display:none;">Save</button>
                <button class="btn btn-success btn-sm" onclick="updatejobtype()" id="updatecourse_button" style="display:none;">Update</button>
            </nav>
        </div>
    </div>
</div>
<div class="content" style="padding: 10px !important;">
    <div class="block">
        <div class="block-content block-content-full">
            <div id="ShowAddCourse_Div" style="display: none;">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label class="form-control-label text-right">Job Type<span class="text-danger">*</span>:</label>
                            <input type="text" class="form-control form-control-sm form-control-alternative" id="jobtype" name="jobtype" required>
                            <span style="display:none;color:red;font-size: 12px;" id="err_jobtype">Please Enter Job Type</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                    </div>
                </div>
            </div>
            <div id="ShowUpdateCourse_Div" style="display: none;">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <input type="hidden" id="jobtypeid" name="jobtypeid">
                        <div class="form-group">
                            <label class="form-control-label text-right">Job Type<span class="text-danger">*</span>:</label>
                            <input type="text" class="form-control form-control-sm form-control-alternative" id="editjobtype" name="editjobtype" required>
                            <span style="display:none;color:red;font-size: 12px;" id="err_editjobtype">Please Enter Job Type</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                    </div>
                </div>
            </div>
            <div class="table-responsive" id="ShowAllCourse_Div">
                <table class="table table-vcenter" id="mydatatable">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center" style="width: 10% !important;">Sr No.</th>
                            <th>Job Type</th>
                            <th class="text-center" style="width: 10% !important;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in job_type_obj %}
                        <tr>
                            <td class="text-center font-size-sm">{{forloop.counter}}</td>
                            <td class="font-w600 font-size-sm">{{ i.job_type }}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit Client" onclick="edit_job_type({{i.id}})">
                                        <i class="fa fa-fw fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Remove Client" onclick="delete_job_type({{i.id}})">
                                        <i class="fa fa-fw fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (){
		$('#MastersMainNavPage').addClass('open');
		$('#JobTypesNavPage').addClass('active');
        $('#mydatatable').DataTable();
        $("#AssignmentModal").on("hidden.bs.modal", function () {
            location.reload();
        });
    });
    function delete_job_type(id){
    console.log(id)
    swal({
        title: "Are you sure?",
        text: "To delete this Job Type!",
        icon: "warning",
        buttons: true,
        dangerMode: true,})
        .then((willDelete) => {
        if(willDelete) {
            $.ajax({
                url: "/delete-job-type/",
                method: "POST",
                data: {
                    "id": id
                },
                success: function (response) {
                    if (response == "success") {
                        swal("The Job Type has been successfully Deleted!", {
                            icon: "success",
                            button: "Ok",
                            closeOnClickOutside: false,
                        }).then(function () {
                            location.reload();
                        });
                    }
                }
            })
        }
        else {
            swal("Job Type is NOT deleted!");
        }
    });
    }
    function ShowAddCourse_Div(){
        $("#ShowAddCourse_Div").show();
        $("#ShowAllCourse_Div").hide();
        $("#ShowAddCourse_Button").hide();
        $("#ShowAllCourse_Button").show();
        $("#addcourse_button").show();
        $("#updatecourse_button").hide();
    }
    function ShowAllCourse_Div(){
        $("#ShowAddCourse_Div").hide();
        $("#ShowAllCourse_Div").show();
        $("#ShowAddCourse_Button").show();
        $("#ShowAllCourse_Button").hide();
        $("#ShowUpdateCourse_Div").hide();
        $("#addcourse_button").hide();
        $("#updatecourse_button").hide();
    }
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    function edit_job_type(id){
        $("#ShowUpdateCourse_Div").show();
        $("#ShowAllCourse_Div").hide();
        $("#ShowAddCourse_Button").hide();
        $("#ShowAllCourse_Button").show();
        $("#addcourse_button").hide();
        $("#updatecourse_button").show();
        $.ajax({
             url: "/edit-job-type/",
             method: "POST",
             data: {
                 "id": id
             },
             success: function (response) {
                 console.log(response)
                 $("#jobtypeid").val(response['list'][0]['id'])
                 $("#editjobtype").val(response['list'][0]['job_type'])
             }
         })
    }
    $("#jobtype").keyup(function () {
        $("#err_jobtype").hide();
    });
    function addjobtype(){
        var jobtype = $("#jobtype").val();
        if(jobtype == ""){
            $("#err_jobtype").show();
        }else{
            $.ajax({
            url: "/add-job-type/",
            method: "POST",
            data: {
                "job":jobtype
            },
            success: function(response){
                console.log(response)
                if (response == "success") {
                    swal("The Job Type has been Added successfully!", {
                        icon: "success",
                        button: "Ok",
                        closeOnClickOutside: false,
                    }).then(function () {
                        location.reload();
                    });
                }
            }
            })
        }
    }
    $("#editjobtype").keyup(function () {
        $("#err_editjobtype").hide();
    });
    function updatejobtype(){
        var jobtypeid = $("#jobtypeid").val();
        var editjobtype = $("#editjobtype").val();
        if(editjobtype == ""){
            $("#err_editjobtype").show();
        }else{
            $.ajax({
            url: "/update-job-type/",
            method: "POST",
            data: {
                "job_id":jobtypeid,
                "edit_job":editjobtype,
            },
            success: function(response){
                console.log(response)
                if (response == "success") {
                    swal("The Job Type has been Updated successfully!", {
                        icon: "success",
                        button: "Ok",
                        closeOnClickOutside: false,
                    }).then(function () {
                        location.reload();
                    });
                }
            }
            })
        }
    }
</script>
{% endblock content %}
