{% extends 'index_base.html' %}
{% block content %}
    {% load static %}
    {#{% for u in  user_operation_obj %}#}
    {#{% if u.fk_screen.screen_url == "Casts" %}#}
    {#{% if u.view_data == "Y" %}#}
    <div class="bg-body-light">
        <div class="content" style="padding: 10px !important;">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                <h1 class="flex-sm-fill h3 my-2">Castes</h1>
                <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                    {#                {% for u in  user_operation_obj %}#}
                    {#                    {% if u.fk_screen.screen_url == "Casts" %}#}
                    {#                        {% if u.save_data == "Y" %}#}
                    <button class="btn btn-primary btn-sm submit-btn" onclick="ShowAddCourse_Div()"
                            id="ShowAddCourse_Button">Add Castes
                    </button>
                    {#                        {% endif %}#}
                    {#                    {% endif %}#}
                    {#                {% endfor %}#}
                    <button class="btn btn-primary btn-sm submit-btn" onclick="ShowAllCourse_Div()"
                            id="ShowAllCourse_Button" style="display: none;">All Castes
                    </button>
                    <button class="btn btn-success btn-sm" onclick="addcasts()" id="addcourse_button"
                            style="display:none;">Save
                    </button>
                    <button class="btn btn-success btn-sm" onclick="updatecasts()" id="updatecourse_button"
                            style="display:none;">Update
                    </button>
                </nav>
            </div>
        </div>
    </div>
    <div class="content" style="padding: 10px !important;">
        <div class="block">
            <div class="block-content block-content-full">
                <div id="ShowAddCourse_Div" style="display: none;">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label class="form-control-label text-right">Cast<span
                                        class="text-danger">*</span>:</label>
                                <input type="text"
                                       class="form-control form-control-sm form-control-alternative"
                                       id="casts" name="casts" required>
                                <span style="display:none;color:red;font-size: 12px;"
                                      id="err_casts">Please Enter Castes</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                        </div>
                    </div>
                </div>
                <div id="ShowUpdateCourse_Div" style="display: none;">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                            <input type="hidden" id="castsid" name="castsid">
                            <div class="form-group">
                                <label class="form-control-label text-right">Cast<span
                                        class="text-danger">*</span>:</label>
                                <input type="text" class="form-control form-control-sm form-control-alternative"
                                       id="editcast" name="editcast" required>
                                <span style="display:none;color:red;font-size: 12px;" id="err_editcast">Please Enter Castes</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-4">
                        </div>
                    </div>
                </div>
                <div class="table-responsive" id="ShowAllCourse_Div">
                    <table class="table table-vcenter" id="mydatatable">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-center" style="width: 10% !important;">Sr No.</th>
                            <th>Castes</th>
                            {#                            {% for u in  user_operation_obj %}#}
                            {#                                {% if u.fk_screen.screen_url == "Casts" %}#}
                            {#                                    {% if u.edit_data == "Y" or u.delete_data == "Y" %}#}
                            <th class="text-center" style="width: 10% !important;">Actions</th>
                            {#                                    {% endif %}#}
                            {#                                {% endif %}#}
                            {#                            {% endfor %}#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in cast_obj %}
                            <tr>
                                <td class="text-center font-size-sm">{{ forloop.counter }}</td>
                                <td class="font-w600 font-size-sm">{{ i.cast }}</td>
                                {#                            {% for u in  user_operation_obj %}#}
                                {#                                {% if u.fk_screen.screen_url == "Casts" %}#}
                                {#                                    {% if u.edit_data == "Y" or u.delete_data == "Y" %}#}
                                <td class="text-center">
                                    <div class="btn-group">
                                        {#                                                {% if u.edit_data == "Y" %}#}
                                        <button type="button" class="btn btn-sm btn-outline-primary js-tooltip-enabled"
                                                data-toggle="tooltip" title="" data-original-title="Edit Client"
                                                onclick="edit_cast({{ i.id }})">
                                            <i class="fa fa-fw fa-pencil-alt"></i>
                                        </button>
                                        {#                                                {% endif %}#}
                                        {#                                                {% if u.delete_data == "Y" %}#}
                                        <button type="button" class="btn btn-sm btn-outline-danger js-tooltip-enabled"
                                                data-toggle="tooltip" title="" data-original-title="Remove Client"
                                                onclick="delete_cast({{ i.id }})">
                                            <i class="fa fa-fw fa-times"></i>
                                        </button>
                                        {#                                                {% endif %}#}
                                    </div>
                                </td>
                                {#                                    {% endif %}#}
                                {#                                {% endif %}#}
                                {#                            {% endfor %}#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#MastersMainNavPage').addClass('open');
            $('#CastsNavPage').addClass('active');
            $('#mydatatable').DataTable();
            $("#AssignmentModal").on("hidden.bs.modal", function () {
                location.reload();
            });
        });

        function delete_cast(id) {
            console.log(id)
            swal({
                title: "Are you sure?",
                text: "To delete this Caste!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/delete-caste/",
                            method: "POST",
                            data: {
                                "id": id
                            },
                            success: function (response) {
                                if (response == "success") {
                                    swal("The Caste has been successfully Deleted!", {
                                        icon: "success",
                                        button: "Ok",
                                        closeOnClickOutside: false,
                                    }).then(function () {
                                        location.reload();
                                    });
                                }
                            }
                        })
                    }
                    else {
                        swal("Caste is NOT deleted!");
                    }
                });
        }

        function ShowAddCourse_Div() {
            $("#ShowAddCourse_Div").show();
            $("#ShowAllCourse_Div").hide();
            $("#ShowAddCourse_Button").hide();
            $("#ShowAllCourse_Button").show();
            $("#addcourse_button").show();
            $("#updatecourse_button").hide();
        }

        function ShowAllCourse_Div() {
            $("#ShowAddCourse_Div").hide();
            $("#ShowAllCourse_Div").show();
            $("#ShowAddCourse_Button").show();
            $("#ShowAllCourse_Button").hide();
            $("#ShowUpdateCourse_Div").hide();
            $("#addcourse_button").hide();
            $("#updatecourse_button").hide();
        }

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function edit_cast(id) {
            $("#ShowUpdateCourse_Div").show();
            $("#ShowAllCourse_Div").hide();
            $("#ShowAddCourse_Button").hide();
            $("#ShowAllCourse_Button").show();
            $("#addcourse_button").hide();
            $("#updatecourse_button").show();
            $.ajax({
                url: "/edit-caste/",
                method: "POST",
                data: {
                    "id": id
                },
                success: function (response) {
                    console.log(response)
                    $("#castsid").val(response['list'][0]['id'])
                    $("#editcast").val(response['list'][0]['applying_concession'])
                }
            })
        }

        $("#casts").keyup(function () {
            $("#err_casts").hide();
        });

        function addcasts() {
            var casts = $("#casts").val();
            if (casts == "") {
                $("#err_casts").show();
            } else {
                $.ajax({
                    url: "/add-caste/",
                    method: "POST",
                    data: {
                        "casts": casts
                    },
                    success: function (response) {
                        console.log(response)
                        if (response == "success") {
                            swal("The Caste has been Added successfully!", {
                                icon: "success",
                                button: "Ok",
                                closeOnClickOutside: false,
                            }).then(function () {
                                location.reload();
                            });
                        }
                    }
                })
            }
        }

        $("#editcast").keyup(function () {
            $("#err_editcast").hide();
        });

        function updatecasts() {
            var castsid = $("#castsid").val();
            var editcast = $("#editcast").val();
            if (editcast == "") {
                $("#err_editcast").show();
            } else {
                $.ajax({
                    url: "/update-caste/",
                    method: "POST",
                    data: {
                        "cast_id": castsid,
                        "edit_cast": editcast,
                    },
                    success: function (response) {
                        console.log(response)
                        if (response == "success") {
                            swal("The Caste has been Updated successfully!", {
                                icon: "success",
                                button: "Ok",
                                closeOnClickOutside: false,
                            }).then(function () {
                                location.reload();
                            });
                        }
                    }
                })
            }
        }
    </script>
    {#{% endif %}#}
    {#{% endif %}#}
    {#{% endfor %}#}
{% endblock content %}
