<table class="table table-vcenter dtable" id="mydatatable">
    <thead class="thead-light">
        <tr>
            <th class="text-center" style="width: 5% !important;">Sr No.</th>
            <th>Date Post</th>
            <th>For</th>
            <th>Topic</th>
            <th>File</th>
            <th>Detail</th>
            {% for i in  user_operations_obj %}
                {% if i.fk_screen.screen_url == "Notes" %}
                    {% if i.edit_data == "Y" or i.delete_data == "Y" %}
                        <th class="text-center" style="width: 5% !important;">Actions</th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody id="FilterNotesData_Div">
        {% for i in notes_obj %}
        <tr class="btn-light">
            <td class="text-center font-size-sm">{{forloop.counter}}</td>
            <td class="font-w600 font-size-sm">{{ i.date_post|date:'d-m-Y'}}</td>
            <td class="font-w600 font-size-sm">
                    {{ i.fk_course.course }},<br>
                    {{ i.fk_subjects.subjects }},<br>
                    Semester {{ i.fk_semesters.semester }},<br>
                    Section {{ i.fk_sections.sections }}
            </td>
            <td class="font-w600 font-size-sm">{{ i.notes_title }}</td>
            <td class="font-w600 font-size-sm"><a href="{{i.notes_file.url}}">{{ i.notes_file }}</a></td>
            <td class="font-w600 font-size-sm">
                <div style="text-overflow: ellipsis;max-width: 400px;overflow: hidden; white-space: nowrap;">
                    {% if i.notes_detail %}
                    {{ i.notes_detail }}
                    {% else %}
                    No Detail Avaliable
                    {% endif %}
                </div>
            </td>
            {% for i in  user_operations_obj %}
                {% if i.fk_screen.screen_url == "Notes" %}
                    {% if i.edit_data == "Y" or i.delete_data == "Y" %}
                        <td class="text-center">
                            <div class="btn-group">
                                {% if i.edit_data == "Y" %}
                                    <button type="button" class="btn btn-sm btn-outline-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit Client" onclick="edit_notes({{i.id}})">
                                        <i class="fa fa-fw fa-pencil-alt"></i>
                                    </button>
                                {% endif %}
                                {% if i.delete_data == "Y" %}
                                    <button type="button" class="btn btn-sm btn-outline-danger js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Remove Client" onclick="delete_notes({{i.id}})">
                                        <i class="fa fa-fw fa-times"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
$(document).ready(function () {
    $('#mydatatable').DataTable();
});
</script>