{% for i in qeustion_obj %}
        <div class="table-responsive">
        <div>
            <table class="table align-items-center">
                <tbody class="thead-light">
                    <tr>
                        <td scope="col" width="5%">
                            Q no.{{forloop.counter}} :
                        </td >
                        <td scope="col" width="85%" class="padding_class">
                           <span style="white-space: initial">{{ i.questions }}</span>
                        </td >
                        <td scope="col" width="15%" class="padding_class">
                            <button class="btn btn-danger" data-toggle="modal" onclick="deletequestion({{i.id}},this)" style="float: right" >Delete</button>
                        </td >
                    </tr>
                </tbody>
            </table>
        </div><br>
    </div>
<script>
      function deletequestion(id,e){
  console.log(id)
   $.ajax({
        url : "/delete-aptitude-question/",
        method : "POST",
        data : {
            "id":id,
            },
            success : function(response){
            console.log(response)
            $(e).closest('div').remove();
           }
    })
  }
</script>
{% endfor %}