html {
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Arvo', serif;
  color: #26947B;
  display: inline-block;
}

p {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  width: 400px;
  padding-top: 30px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline-block;
}

.content {
  padding-left: 20%;
  padding-top: 5%;
}

.button_class, .button_class_logsign {
  margin-top: 50px;
  margin-bottom: 6%;
  padding-left: 14px;
  color: inherit;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

#tir {
  font-family: 'Arvo', serif;
  font-size: 78px;
  letter-spacing: 10px;
}

#ins {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 5px solid #E78E66;
  border-radius: 0.2rem;
}

#ofm {
  font-size: 34px;
  font-weight: 300;
}

#edu {
  font-size: 46px;
  font-weight: 300;
  letter-spacing: 6px;
}

@media only screen and (max-width: 1330px) {
  .img-fluid {
    width: 750px;
  }

  #tir {
    font-size: 64px;
  }

  #ins {
    font-size: 50px;
  }

  #ofm {
    font-size: 29px;
  }

  #edu {
    font-size: 38px;
  }

  p {
    font-size: 14px;
    width: 300px;
  }

  #form_title_login {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1040px) {
  #form_title_login {
    font-size: 30px;
  }

  #tir {
    font-size: 55px;
  }

  #ins {
    font-size: 46px;
  }

  #ofm {
    font-size: 26.5px;
  }

  #edu {
    font-size: 34.5px;
  }

  p {
    font-size: 14px;
    width: 273px;
  }
}

@media only screen and (max-width: 991px) {
  .content_login, .content_signup {
    margin-left: 4%;
  }

  .content_homepage {
    margin-left: 25%;
  }

  #tir {
    font-size: 70px;
  }

  #ins {
    font-size: 55px;
  }

  #ofm {
    font-size: 31.5px;
  }

  #edu {
    font-size: 42px;
  }

  p {
    font-size: 16px;
    width: 320px;
  }

  #form_title_login, #form_title_signup {
    font-size: 30px;
  }
}

@media only screen and (max-width: 851px) {
  .content_homepage {
    margin-left: 20%;
  }

  .button_class {
    margin-bottom: 7%;
  }

  #form_title_signup {
    font-size: 25px;
  }

  #rem_check {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .content_login, .content_signup {
    margin-bottom: 5%;
  }

  .content_homepage {
    margin-left: 10%;
  }

  .btn-group {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .error_mg {
    margin-top: 35px;
  }

  .error_sa {
    padding-top: 15px;
  }

  .error_mg_1 {
    margin-top: 10px;
  }

  .error_mg_2 {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 450px) {
  #rem_check {
    font-size: 13px;
  }

  .content_homepage {
    margin-left: 0%;
  }

  #tir {
    font-size: 50px;
  }

  #ins {
    font-size: 42px;
  }

  #ofm {
    font-size: 24px;
  }

  #edu {
    font-size: 30.5px;
  }

  p {
    font-size: 12px;
    width: 250px;
  }

  .error_mg {
    margin-top: 35px;
  }

  .error_sa {
    padding-top: 15px;
  }

  .error_mg_1 {
    margin-top: 10px;
  }

  .error_mg_2 {
    padding-top: 10px;
  }
}

/* ----- LOGIN AND SIGNUP FORM STYLING BELOW ------ */
.form_class {
  margin-top: 10%;
}

.field-group {
  position: relative;
  margin-bottom: 35px;
}

.name-break {
  margin-left: 4%;
}

.content_login {
  padding-left: 20%;
  padding-top: 5%;
}

.content_signup {
  padding-left: 20%;
  padding-top: 2%;
}

.div_hide {
  display: none;
}

#tandc {
  font-size: 12px;
  margin-top: -50px;
}

.text_in {
  font-size: 16px;
  padding: 3px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}

.push {
  margin-top: 10px;
}

#form_title_login {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #426150;
}

#form_title_signup {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #426150;
}

#adm-roll {
  margin-top: 7%;
  margin-bottom: 7%;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #322e2f;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#move_label {
  left: 20px;
}

/* active state */
input:focus~label, input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #322e2f;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #426150;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus~.bar:before, input:focus~.bar:after {
  width: 50%;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #0F7AF2;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #0F7AF2;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #0F7AF2;
  }

  to {
    width: 0;
    background: transparent;
  }
}






.btn-outline-primary {
    border-color: #08371E !important;
    color: #08371E !important;
}

.btn-outline-primary:hover {
    color: #ffffff !important;
    background-image: linear-gradient(to top right, #426150, #08371E) !important;
    border-color: #08371E !important;
}

.btn-primary {
    border-color: #08371E !important;
    background-image: linear-gradient(to top right, #426150, #08371E) !important;
}

.btn-primary:hover {
    border-color: #08371E !important;
    background-image: linear-gradient(to top right, #ffffff, #ffffff) !important;
    color: #08371E !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff !important;
    background-image: linear-gradient(to top right, #426150, #08371E) !important;
    border-color: #08371E !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #08371E !important;
    background-color: #08371E !important;
    border-color: #08371E !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #08371E !important;
    border-color: #08371E !important;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

.btn.focus, .btn:focus {
    outline: 0 !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #08371E !important;
    border-color: #08371E !important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0) !important;
}

.btn.focus, .btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0) !important;
}