<div class="table-responsive">
    <table class="table table-vcenter table-bordered" id="mydatatable">
        <thead style="background-color: #f5f3f3;">
            <tr>
                <th class="text-center" style="width: 15% !important;">Student Name</th>
                <th class="text-center" style="width: 15% !important;">Course</th>
                <th class="text-center" style="width: 15% !important;">Semesters</th>
                <th class="text-center" style="width: 15% !important;">Section</th>
                <th class="text-center" style="width: 3% !important;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in academic_info_obj %}
                <tr>
                    <td>{{i.fk_user_info.first_name}} {{i.fk_user_info.last_name}}</td>
                    <td>{{i.fk_course.course}}</td>
                    <td>{{i.fk_semesters.semester}}</td>
                    <td>{{i.fk_sections.sections}}</td>
                    <td>
                        <a href="{% url 'placement-student-performance' id=i.fk_user_info.id %}"><button type="button" class="btn btn-sm btn-outline-secondary js-tooltip-enabled" style="margin-bottom: 5px;">View Detail</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>