{% extends 'index_base.html' %}
{% block content %}
{% load static %}
<style>
    .padding5px {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .modaltable th {
        padding: .25rem !important;
    }
</style>
<div class="content" style="padding: 10px !important;">
    <div class="block">
        <div class="block-content block-content-full">
            <div class="table-responsive">
                <table class="table table-vcenter table-bordered" id="mydatatable">
                    <thead style="background-color: #f5f3f3;">
                        <tr>
                            <th class="text-center" style="width: 15% !important;">Company Name</th>
                            <th class="text-center" style="width: 15% !important;">Interview Location</th>
                            <th colspan="3" class="text-center">Job Detail</th>
                            <th colspan="4" class="text-center">Selection Process Detail</th>
                            <th class="text-center">Status</th>
                            <th style="width: 5% !important;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in company_appearance_obj %}
                            {% if i.id in company_appearance_past_obj %}
                                <tr style="background-color: aliceblue;">
                            {% elif i.id in company_appearance_upcoming_obj %}
                                <tr>
                            {% endif %}
                                <td style="width: 15% !important;">{{i.fk_company.company_name}}</td>
                                <td style="width: 15% !important;">{{i.company_interview_location}}</td>
                                <td colspan="3" style="width: 30% !important;" style="width: 100%;">
                                    <table style="width: 100%;">
                                        <thead style="background-color: #f5f3f3;">
                                            <th style="width: 10% !important;padding: 0.25rem !important;">Job Type</th>
                                            <th style="width: 10% !important;padding: 0.25rem !important;">Package</th>
                                            <th style="width: 10% !important;padding: 0.25rem !important;">Job Location</th>
                                        </thead>
                                        <tbody>
                                            {% for j in i.fk_company_appearance_job_type_detail_list.all %}
                                                <tr style="width: 100%;">
                                                    <td style="width: 10% !important;">{% for k in j.fk_job_type.all %}{{k.job_type}}{% endfor %}</td>
                                                    <td style="width: 10% !important;">{{j.package}}</td>
                                                    <td style="width: 10% !important;">{{j.job_location}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="4" style="width: 40% !important;" style="width: 100%;">
                                    <table style="width: 100%;">
                                        <thead style="background-color: #f5f3f3;">
                                            <tr>
                                                <th style="width: 10% !important;padding: 0.25rem !important;">Test Name</th>
                                                <th style="width: 10% !important;padding: 0.25rem !important;">Date</th>
                                                <th style="width: 10% !important;padding: 0.25rem !important;">Start Time</th>
                                                <th style="width: 10% !important;padding: 0.25rem !important;">End Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in i.fk_company_appearance_date_time_list.all %}
                                                <tr style="width: 100%;">
                                                    <td style="width: 10% !important;">{{j.fk_selection_process_test.test_name}}</td>
                                                    <td style="width: 10% !important;">{{j.date|date:'d-m-Y'}}</td>
                                                    <td style="width: 10% !important;">{{j.start_time|date:'h:i A'}}</td>
                                                    <td style="width: 10% !important;">{{j.end_time|date:'h:i A'}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    {% if i.id in company_appearance_past_obj and i.id in apple_company_appearance_obj %}
                                        Applied
                                    {% elif i.id in company_appearance_upcoming_obj and i.id in apple_company_appearance_obj %}
                                        Applied
                                    {% else %}
                                        Not Applied
                                    {% endif %}
                                </td>
                                <td>
                                    {% if i.id in company_appearance_past_obj and i.id in apple_company_appearance_obj %}
                                        <a href="{% url 'view-visiting-company-detail' id=i.id %}"><button type="button" class="btn btn-sm btn-outline-primary js-tooltip-enabled" style="margin-bottom: 5px;">View Detail</button></a>
                                    {% elif i.id in company_appearance_upcoming_obj and i.id in apple_company_appearance_obj %}
                                        <a href="{% url 'view-visiting-company-detail' id=i.id %}"><button type="button" class="btn btn-sm btn-outline-primary js-tooltip-enabled" style="margin-bottom: 5px;">View Detail</button></a>
                                        <button type="button" class="btn btn-sm btn-outline-secondary js-tooltip-enabled" style="padding: .15rem 1.3rem;" onclick="apply_visiting_company_modal_detail({{i.id}})">Update</button>
                                    {% elif i.id in company_appearance_upcoming_obj %}
                                        <a href="{% url 'view-visiting-company-detail' id=i.id %}"><button type="button" class="btn btn-sm btn-outline-primary js-tooltip-enabled" style="margin-bottom: 5px;">View Detail</button></a>
                                        <button type="button" class="btn btn-sm btn-outline-success js-tooltip-enabled" style="padding: 0.15rem 1.7rem;" onclick="apply_visiting_company_modal_detail({{i.id}})">Apply</button>
                                    {% else %}
                                        <a href="{% url 'view-visiting-company-detail' id=i.id %}"><button type="button" class="btn btn-sm btn-outline-primary js-tooltip-enabled" style="margin-bottom: 5px;">View Detail</button></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CompanyVisitAddUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" style="text-align: justify;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                    <form action="" id="submitapplycompany" method="post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="modal_company_visiting_id" name="modal_company_visiting_id">
                        <input type="hidden" id="modal_appledcompanyappearance_id" name="modal_appledcompanyappearance_id">
                        <div class="row" >
                            <div class="col-lg-6 col-sm-6 col-xs-6 padding5px">
                                <div class="form-group">
                                    <label class="form-control-label">Company Name<span style="color:red"></span>:</label></br>
                                    <span id="modal_company_name"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-6 padding5px">
                                <div class="form-group">
                                    <label class="form-control-label">Company Main Address<span style="color:red"></span>:</label></br>
                                    <span id="modal_company_main_address"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-lg-6 col-sm-6 col-xs-6 padding5px">
                                <div class="form-group">
                                    <label class="form-control-label">Company Location<span style="color:red"></span>:</label></br>
                                    <span id="modal_company_location"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-6 padding5px">
                                <div class="form-group">
                                    <label class="form-control-label">Company Type<span style="color:red"></span>:</label></br>
                                    <span id="modal_company_type"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="modal_student_resume" name="modal_student_resume">
                                        <label class="custom-file-label" for="modal_student_resume">Choose file</label>
                                    </div>
                                    <input type="hidden" id="student_resume">
                                </div>
                                 <div class="form-group">
                                     <label>Resume :</label>
                                     <a href="" id="student_resume_link"></a>
                                 </div>
                            </div>
                        </div>
                    </form>
                        <div class="modal-footer">
                            <button class="btn btn-sm btn-outline-danger js-tooltip-enabled" style="display: none;" id="Cancelregistration_Button" onclick="Cancelregistration()">Cancel Registration</button>
                            <input type="submit" class="btn btn-sm btn-outline-danger js-tooltip-enabled" form="submitapplycompany" />
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#PlacementMainNavPage').addClass('open');
        $('#CompanyAppearanceNavPage').addClass('active');
        $('#mydatatable').DataTable();
    });
    function apply_visiting_company_modal_detail(id){
        $("#CompanyVisitAddUpdateModal").modal('show');
        $.ajax({
            url : "/apply-visiting-company-modal-detail/",
            method : "POST",
            data : {
                "id":id
            },
            success : function(response){
                console.log(response)
                $("#modal_company_visiting_id").val(response['list_data'][0]['id'])
                $("#modal_appledcompanyappearance_id").val(response['list_data'][0]['appled_company_appearance_id'])
                $("#modal_company_name").html(response['list_data'][0]['company_name'])
                $("#modal_company_main_address").html(response['list_data'][0]['company_main_address'])
                $("#modal_company_location").html(response['list_data'][0]['company_location'])
                $("#modal_company_type").html(response['list_data'][0]['fk_company_type'])
                $("#student_resume_link").html(response['list_data'][0]['resume_name'])
                $("#student_resume").html(response['list_data'][0]['resume'])
                $("#student_resume_link").attr("href",response['list_data'][0]['resume']);
                if(response['list_data'][0]['applied_status'] == "Applied"){
                  $("#Cancelregistration_Button").show();
                }
            }
        })
    }
    $(document).ready(function () {
        $("#submitapplycompany").submit(function (e) {
            e.preventDefault();

            var formdata = new FormData();
            formdata.append("modal_student_resume", $("#modal_student_resume")[0].files[0])
            formdata.append("modal_company_visiting_id", $("#modal_company_visiting_id").val())
            console.log(formdata)
            $.ajax({
                url: "/apply-visiting-company/",
                method: "POST",
                enctype: 'multipart/form-data',
                async: false,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                data: formdata,
                success: function (response) {
                    $("#CompanyVisitAddUpdateModal").modal('hide');
                    if (response == "success") {
                        swal("Applied Succesfully!", {
                            icon: "success",
                            button: "Ok",
                            closeOnClickOutside: false,
                        }).then(function () {
                            location.reload();
                        });
                    }
                }
            })
        })
    });

    function Cancelregistration() {
        var modal_appledcompanyappearance_id = $("#modal_appledcompanyappearance_id").val();
        swal({
        title: "Are you sure?",
        text: "To Cancel Registration!",
        icon: "warning",
        buttons: true,
        dangerMode: true,})
        .then((willDelete) => {
        if(willDelete) {
            $.ajax({
                url: "/cancel-company-registration/",
                method: "POST",
                data: {
                    "modal_appledcompanyappearance_id": modal_appledcompanyappearance_id
                },
                success: function (response) {
                    if (response == "success") {
                        swal("The Registration has been Cancel Successfully!", {
                            icon: "success",
                            button: "Ok",
                            closeOnClickOutside: false,
                        }).then(function () {
                            location.reload();
                        });
                    }
                }
            })
        }
        else {
            swal("Registration is NOT Cancel!");
        }
    });
    }
</script>
{% endblock content %}
