{% extends 'index_base.html' %}
{% block content %}
{% load static %}
<div class="bg-body-light">
    <div class="content" style="padding: 10px !important;">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill h3 my-2">Student Performance Detail</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <a href="javascript:history.back()"><button class="btn btn-primary btn-sm submit-btn">Back</button></a>
            </nav>
        </div>
    </div>
</div>
<div class="content" style="padding: 10px !important;">
    <div class="row">
        <div class="col-6 col-md-3 col-lg-6 col-xl-3" style="padding-left: 0px;">
            <a class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)" style="margin-bottom: 0px !important;">
                <div class="block-content block-content-full">
                    <div class="font-size-sm font-w600 text-uppercase text-muted">Student Name</div>
                    <div class="font-w400 text-dark">
                        <span>{{academic_info_obj.fk_user_info.first_name}} {{academic_info_obj.fk_user_info.last_name}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-lg-6 col-xl-3" style="padding-left: 0px;">
            <a class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)" style="margin-bottom: 0px !important;">
                <div class="block-content block-content-full">
                    <div class="font-size-sm font-w600 text-uppercase text-muted">Detail</div>
                    <div class="font-w400 text-dark">
                        <span>Course : {{academic_info_obj.fk_course.course}}, Semester : {{academic_info_obj.fk_semesters.semester}}, Section : {{academic_info_obj.fk_sections.sections}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-lg-6 col-xl-3" style="padding-left: 0px;">
            <a class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)" style="margin-bottom: 0px !important;">
                <div class="block-content block-content-full">
                    <div class="font-size-sm font-w600 text-uppercase text-muted">No. of Company Attended</div>
                    <div class="font-w400 text-dark">
                        <span>{{apple_company_appearance_obj.count}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 col-lg-6 col-xl-3" style="padding-left: 0px;">
            <a class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)" style="margin-bottom: 0px !important;">
                <div class="block-content block-content-full">
                    <div class="font-size-sm font-w600 text-uppercase text-muted">Placed in No. of Company</div>
                    <div class="font-w400 text-dark">
                        <span>{{placed_company_obj.count}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="content" style="padding: 10px !important;">
    <div class="block">
        <div class="block-content block-content-full">
            <div class="block-content block-content-full">
                <div class="table-responsive">
                    <table class="table table-vcenter table-bordered" id="mydatatable">
                        <thead style="background-color: #f5f3f3;">
                            <tr>
                                <th class="text-center" style="width: 15% !important;">Company Name</th>
                                <th class="text-center" style="width: 15% !important;">Status</th>
                                <th class="text-center" style="width: 15% !important;">Tests</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in apple_company_appearance_obj %}
                                <tr>
                                    <td>{{i.fk_company.company_name}}</td>
                                    <td>{% if i.placement_status %}{{i.placement_status}}{% else %}Not Available{% endif %}</td>
                                    <td>
                                        <table>
                                             <thead>
                                                <tr style="background-color: #f5f3f3;">
                                                    {% for j in i.fk_company_appearance.fk_company_appearance_date_time_list.all %}
                                                        {% for k in company_appearance_test_result_obj %}
                                                            {% if i.id == k.fk_appled_company_appearance.id and k.fk_selection_process_test.id == j.fk_selection_process_test.id and k.fk_user_info.id == i.fk_user_info.id %}
                                                                <th class="text-center" style="width: 15% !important;padding: .25rem;">{{k.fk_selection_process_test.test_name}}</th>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </tr>
                                                <tr>
                                                    {% for j in i.fk_company_appearance.fk_company_appearance_date_time_list.all %}
                                                        {% for k in company_appearance_test_result_obj %}
                                                            {% if i.id == k.fk_appled_company_appearance.id and k.fk_selection_process_test.id == j.fk_selection_process_test.id and k.fk_user_info.id == i.fk_user_info.id %}
                                                                <td class="text-center" style="width: 15% !important;">{% if k.test_status %}{{k.test_status}}{% else %}Not Available{% endif %}</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </tr>
                                             </thead>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#PlacementMainNavPage').addClass('open');
        $('#StudentMyPerformanceNavPage').addClass('active');
        $(".datepicker").datepicker({autoclose: true});
        $('#mydatatable').DataTable();
    });
</script>
{% endblock content %}